
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #f4f1e8;
  --base-color: white;
  --accent-color: #768953;
  --dark-accent-color: #5a3421;
  --fancy-font: 'Gilda Display';
  --basic-font: 'Libre Franklin';
}

/*containers*/
body {
  background-color: var(--background-color);
}

header {
  max-width: 1250px;
  position: relative;
  margin: auto;
}

footer {
  max-width: 1250px;
  position: center;
  margin: auto;
}

.anchor, .homepage-anchor {
  max-width: 1250px;
  height: 100%;
  background-color: var(--background-color);
  border-radius: 15px;
  margin: 0px auto;
  padding: 8px 10px 40px 10px;
}

.recipe-list-container, .information {
  background-color: var(--accent-color);
  margin: 0px auto;
}

.recipe-list-container {
  padding: 8px 0px 40px 0px;
  border-radius: 15px;
}

.information {
  background-color: var(--base-color);
}

.pages-nav {
  width: 100%;
  display: none;
  position: absolute;
  top: 65px;
  justify-content: flex-end;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-page-nav {
  margin: 10px auto 0px auto;
  width: 90%;
}

.recipe-card-text {
  margin-left: 10px;
}

/*button*/
header button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
}

/*h*/
h1 {
  color: var(--accent-color);
  text-align: center;
  font-family: var(--fancy-font), 'Georgia', 'Serif';
  font-weight: 400;
  font-style: normal;
  font-size: 250%;
}

header h1 {
  text-align: right;
  margin-right: 10px;
  font-size: 130%;
}

h2{
  color: var(--base-color);
  font-family: var(--fancy-font), 'Georgia', 'Serif';
  font-weight: 400;
  font-style: normal;
  margin: 0px 20px 0px 20px;
  padding: 30px 0px 10px 0px;
}

.information h2 {
  color: var(--accent-color);
  margin: 0;
}

.recipe-list-container h2 {
  border-bottom: 2px solid var(--base-color);
}

.single-recipe-main h2 {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

h3 {
  font-family: var(--fancy-font), 'Georgia', 'Serif';
  font-weight: 400;
}

.home-page-nav h3 {
  font-size: 140%;
}

.recipe-list-container h3 {
  font-style: normal;
  color: var(--accent-color);
  margin: 3% 1% 1% 1%;
}

footer h4 {
  font-family: var(--fancy-font), 'Georgia', 'Serif';
  font-weight: 400;
  font-style: normal;
  color: var(--accent-color);
}

/*img*/
img {
  max-width: 100%;
  height: auto;
}

.recipe-list-container img {
  width: 100px;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/*a*/
a {
  text-decoration: none;  
}

a:hover, a:active {
  font-weight: bold;
  text-decoration: underline;
}

.home-page-nav a, .pages-nav a {
  color: var(--base-color);
}

header a {
  color: var(--accent-color);
}

.recipe-list-container li a {
  display: flex;
  flex-direction: row;
}

/*lists*/
ul, ol {
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
}

ul {  
  list-style-type: none;
  padding: 0px;
}

.pages-nav ul {
  width: 250px;
  margin-top: 8px;
  padding: 5px 0px 5px 12px;
}

.home-page-nav ul{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--base-color);
  gap: 7px;
  margin: 0px;
}

.recipe-list-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  gap: 7px;
  margin: 20px 20px 0px 20px;
}

/*li*/
li {
  padding: 0px;
}

.home-page-nav li {
  flex: 1;
  background-color: var(--accent-color);
  border-radius: 15px;
  margin: 0px;
}

header li {
  color: var(--accent-color);
}

.recipe-list-container li {
  border-radius: 5px;
  background-color: var(--base-color);
  padding: 20px;
}

.pages-nav li {
  background-color: var(--accent-color);
  color: var(--base-color);
  margin: 3px 0px;
  padding: 7px;
}

/*p*/
p {
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
  color: var(--dark-accent-color);
  padding: 5px;
  margin: 3% 1% 1% 1%;
}

.home-page-nav p {
  color: var(--base-color);
}

.information p {
  font-family: var(--fancy-font), 'Georgia', 'Serif';
  color: var(--accent-color);
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.recipe-list-container p {
  padding: 0;
}

/*form*/
form {
  width: 50%;
  margin: auto;
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
  color: var(--dark-accent-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--base-color);
}

input, select {
  padding: 7px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
  color: var(--dark-accent-color);
}

input:focus, select:focus {
  border: 2px solid var(--accent-color);
  outline: none;
}

input[type=submit] {
  background-color: var(--accent-color);
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
  font-size: 110%;
  color: var(--base-color);
  border-radius: 5px;
  margin-top: 20px;
  padding: 7px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

select {
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
  color: var(--dark-accent-color);
}

.create-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-menu-inputs {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.create-menu-inputs li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.create-menu-inputs input {
  width: 20%;
}

.add-recipe-inputs li {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.add-recipe-inputs label {
  margin-bottom: 5px;
}

/*table*/
table, th, td {
  width: auto;
  margin: 20px auto 0px auto;
  border-collapse: collapse;
}

th, td {
  padding: 7px;
  border: 1px solid var(--accent-color);
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
  color: var(--dark-accent-color);
}

.empty {
  font-style: italic;
}

caption {
  font-family: var(--basic-font), 'Arial', 'Sans Serif';
  color: var(--dark-accent-color);
  font-size: 110%;
  margin: 10px;
  padding: 0px;
}

.menu-summary a {
  color: var(--dark-accent-color);
  font-weight: bold;
  text-decoration: none;  
}

.menu-summary a:hover {
  text-decoration: underline;
}

.menu-summary a:active {
  text-decoration: underline;
}

/*mobile*/

@media screen and (min-width: 500px) {
  .anchor, .homepage-anchor {
    max-width: 1250px;
    height: 100%;
    background-color: var(--background-color);
    border-radius: 15px;
    margin: 0px auto;
    padding: 8px 10px 40px 10px;
  }
  
  .home-page-nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .recipe-list-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

